{
    "admin": {
        "name": "admin",
        "gg2fa": "{{ gg2fa }}",
        "admin": true,
        "salt": "sm4tLkxcUco0WqKWD1OD4KNC4CNtwGl1mhDX/XE9Jb4dzqq3kMW/QaFHjoVlTRvuN75OffJV/nl6u8ZwBQiK8lLdjdIUkojJypns1gihN8ApMrQiuDsIiG69734YKF03eoUWS4T75CTtZW1z3NsFcTj4GxwKCVdJeGeF7JQXqEU=",
        "hash": "75Eyo9uLArOL++RgCZ74r3qHuonXTQqWum/ExVhMvaZIivVjwxycbr1dZ9BnCCLEfGhNVOGYH47yXJD5HAVNuYK1IXJZOQEWpWDbvZ0m4DphvqVN6GMch1LQUHRXXklWHZ/EneOASGB7f32QqmY1se6TTVzEkQuhcVpYMmbAcwg="
    }
}
